.left-sidebar-background {
    width: 210px;
    height: 100%;
    min-width: 210px;
}


.left-sidebar {
    border-left: none;
    border-bottom: none;
    border-top: none;
    margin-top: 70px;
    width: 210px;
    height: 100%;
    border-right: 2px solid red;
    overflow: hidden;
    position: fixed;
}

/* SCROLL ÇALIŞMIYOR */
.left-sidebar::-webkit-scrollbar {
    width: 3px;
}

.left-sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background: #5e5e5e;
}

.left-sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* SCROLL ÇALIŞMIYOR */
.sidebar-border {
    color: white;
    width: 100%;
}

.sidebar-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    padding: 10px 5px 0px 5px;
}


/* ALL ROLE */
.all-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-left: 4px;

}

.all-role-header {
    display: flex;
    justify-content: center;
}

.all-role-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    opacity: 0.3;
    transition: 0.5s;
}

.all-role-images:hover {
    opacity: 1;
}

.all-role-images>img {
    height: 40px;
}

/* ROLE FİLTER */
.role-filter-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.role-filter-main {
    margin-bottom: 10px;
}

.role {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    opacity: 0.3;
    transition: 0.5s;

}

.role:hover {
    opacity: 1;
}

.role>label {
    margin-left: 15px;
}

.role>img {
    height: 40px;
    margin: 0px 20px 0px 30px;
}

/* FİLTER BOTTOM */
.filter-bottom {
    width: 100%;
}


/* PRİCE */
.price-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.price-text {
    margin: 10px;
}

.sidebar-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.3;
    background-color: transparent;
    color: white;
    border-left: none;
    border-top: none;
    border-right: none;
}

.sidebar-button:hover {
    opacity: 1;
    transition: 0.5s;
}

/* İNPUT */
.search {
    padding: 0px 10px 40px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.search>input {
    width: 130px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    opacity: 0.3;
    padding: 2px 5px 2px 5px;
}

.search>input::placeholder {
    text-align: center;
    color: white;
}

.search>input:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.search>input:focus {
    opacity: 1;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}