.pagination-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
}

.pagination-border-inside {
    width: 238px;
    display: flex;
    height: 100%;
    justify-content: center;
}


.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 35px;
    height: 100%;
    background-color: black;
    color: white;
}

.page-numbers:disabled {
    opacity: 0.2;
    color: white;
}

.page-icons {
    background-color: transparent;
    width: 30px;
    height: 100%;
    border: none;
}

.page-icons:disabled {
    opacity: 0.2;
}

.page-icon-left {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 15px 0px 0px 0px;
}

.page-icon-right {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 0px 15px 0px 0px;
}