* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* MAİN */
.main {
  display: flex;
}

/* MY CARDS */
.my-cards {
  display: flex;
  flex-direction: column;
  color: white;
}

.cards-header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.my-cards-header {
  border-bottom: 4px solid red;
}

.shop-cards-header {
  border-bottom: 4px solid green;
}

.mapped-my-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 1%;
  padding-left: 4%;
  border-bottom: 2px solid red;
}

.shop {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  text-align: center;
  color: white;
}

.mapped-card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 1%;
  padding-left: 4%;
}

/* PAGE */
.page {
  background-color: #141414;
}

/* MAİN PAGE- CAROUSEL + MAPPED CHAMP */
.carousel-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  background-color: #141414;
  min-height: 100vh;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}


/* HERO */
.hero-border {
  width: 210px;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  justify-content: flex-end;
  position: relative;
}

.hero-id {
  color: white;
  font-size: 30px;
  top: 8%;
  position: absolute;
}

.hero-border:hover>.hero-id {
  top: 0px;
  transition: 0.5s;
}

.hero-image {
  position: relative;
  display: flex;
}

.hero-image>img {
  width: 100%;
}


/* HERO TAGS */
.hero-tags {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}

.hero-tags>img {
  margin: 2px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.0) 100%);
  height: 60px;
}

.info-img {
  display: flex;
  justify-content: space-around;
}

/* BUY */
.card-trade {
  width: 100%;
  height: 40px;
  display: flex;
}

.buy-button {
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
  border: none;
}

.sell-button {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  border: none;
}

.buy-button:hover {
  background-color: rgb(0, 73, 0);
}

.hero-money {
  color: gold;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 20%;
  height: 10%;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 0% 0% 0% 100%;

}

/* CARD BACK */
.hero-image-back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero-title {
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.0) 100%);

  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.back-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-back {
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-back {
  color: white;
}

.hero-image-back>img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* MODAL */

.modal-body {
  background: rgba(0, 0, 0, 1);
  position: relative;
}

.champion-skills {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 24px;
  left: 24px;
  gap: 10px;
}

.champion-skills>img {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

.short-story {
  position: absolute;
  color: white;
  left: 0px;
  right: 0px;
  bottom: 5%;
  width: 90%;
  margin-left: 5%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 1%;
  text-align: center;
}

@media (max-width : 992px) {

  .skill-press>img {
    width: 40px;
  }

  .short-story {
    width: 70%;
    margin-left: 20%;
  }

  .modal-title {
    left: 30%;
  }
}

@media (min-width : 992px) {

  .champion-skills {
    width: 60px;
    top: 60px;
  }

  .short-story {
    width: 80%;
    margin-left: 15%;
  }

  .modal-title {
    left: 35%;
  }
}

@media (min-width : 1200px) {

  .champion-skills {
    width: 80px;
    top: 100px;
  }

  .modal-title {
    left: 40%;
  }

  .skill-press>img {
    width: 90px;
  }
}

.modal-title {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: absolute;
  z-index: 2;
  padding: 5px 15px 0px 15px;
  border-radius: 0px 0px 20px 20px;
}

.skill-press {
  position: relative;
}

.skill-button {
  color: white;
  position: absolute;
  top: 2%;
  left: 2%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  width: 20px;
  text-align: center;
}

.modal-price {
  position: absolute;
  color: gold;
  top: 0%;
  right: 0%;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 0% 0% 0% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-left: 10px;
  padding-bottom: 10px;
}

.modal-button {
  background-color: green;
  color: white;
  height: 50px;
}